
<%= form_global_errors(resource, Page) %>

<%= form_for([:admin, resource], html: {class: 'edit_page uk-form uk-form-stacked custom-cc custom-cc-fa'}) do |f| %>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>

      <div class="uk-width">
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
          <div class="uk-width-medium-1-1">
            <%= form_input(f, :text_field, :name, icon_title) %>
          </div>
          <div class="uk-width-medium-1-2">
            <% parent_id_options = page_categories_all.collect { |p| [p.name, p.id] }.unshift([I18n.t('root'), 0]) %>
            <%= form_select(f, :parent_id, icon_page_category, parent_id_options, resource.parent_id) %>
          </div>
          <div class="uk-width-medium-1-2">
            <%= form_input(f, :text_field, :ordering, icon_ordering) %>
          </div>
        </div>
      </div>

      <div class="uk-width uk-margin-top-remove">
        <div class="uk-grid uk-grid-small">
          <div class="uk-width-medium-1-2 uk-margin-top">
            <%= form_check_box(f, :is_main_nav, icon_is_main_nav) %>
          </div>
          <div class="uk-width-medium-1-2 uk-margin-top">
            <%= form_check_box(f, :is_commentable, icon_is_commentable) %>
          </div>
          <div class="uk-width-medium-1-2 uk-margin-top">
            <%= form_check_box(f, :published, icon_published) %>
          </div>
          <div class="uk-width-medium-1-2 uk-margin-top">
            <%= form_check_box(f, :root_page, icon_home_page) %>
          </div>
        </div>
      </div>

      <div class="uk-width">
        <% f.object.tags.each do |tag| %>
            <span data-removable-badge class="uk-badge uk-badge-success">
              <input type="hidden" name="<%= "page[tags][#{tag.id}]" %>" value="1" />
              <%= tag.name %>
              <a href="" class="uk-close"></a>
            </span>
        <% end %>
      </div>

      <%= f.fields_for :page_content do |f| %>
        <div class="uk-width uk-margin-top">
          <ul class="uk-tab" data-uk-tab="{connect:'#code-editor-area'}">
            <li class="uk-active"><a><%= f.object.class.human_attribute_name(:content) %></a></li>
            <li><a href=""><%= f.object.class.human_attribute_name(:meta_description) %></a></li>
            <li><a href=""><%= f.object.class.human_attribute_name(:excerpt) %></a></li>
            <li><a href="" ><%= f.object.class.human_attribute_name(:meta_css) %></a></li>
            <li><a href=""><%= f.object.class.human_attribute_name(:meta_js) %></a></li>
          </ul>
          <ul id="code-editor-area" class="uk-switcher code-editor-area">
            <li><%= f.text_area :content, data: {
                'editor-ace': '{"sessionOptions": {"language":"html_ruby"}}',
                'editor-tinymce': '{}'
            } %></li>
            <li><%= f.text_area :meta_description, data: {
                'editor-ace': '{"sessionOptions": {"language":"text"}}'
            } %></li>
            <li><%= f.text_area :excerpt, data: {
                'editor-ace': '{"sessionOptions": {"language":"html_ruby"}}',
                'editor-tinymce': '{"toolbar": "forecolor backcolor", "plugins": "textcolor"}'
            } %></li>
            <li><%= f.text_area :meta_css, data: {
                'editor-ace': '{"sessionOptions": {"language":"css"}}'
            } %></li>
            <li><%= f.text_area :meta_js, data: {
                'editor-ace': '{"sessionOptions": {"language":"javascript"}}'
            } %></li>
          </ul>
          <% [:content, :meta_description, :excerpt].each do |key| %>
              <% f.object.errors[key].each do |e|%>
                  <p class="uk-form-help-block uk-text-danger"> <%= f.object.class.human_attribute_name(key) %> <%= e %></p>
              <% end %>
          <% end %>
        </div>
      <% end %>


      <div class="uk-width uk-margin-top">
        <%= form_button(f, icon_save, false) %>
      </div>
    </div>

<% end %>
