
<% title = resource_view_listing_message(resource: Page, count: 2) %>

<% content_for :title do %>
    <%= title %>
<% end %>

<%= admin_body_title("#{icon_list}&nbsp;&nbsp;#{title} (#{@resource_list.total_count})") %>

<% index_links = [
    {message: icon_new, path: new_admin_page_path, options: {}}
] %>

<%= admin_body_top_links(index_links) %>

<h3 class="admin-body-section-title uk-margin-top-remove"><%= t('filters').humanize %></h3>

<!-- filters area -->
<form class="uk-form uk-form-stacked custom-cc" action="<%= admin_pages_path %>" method="get" data-bulk-form>
  <%# declare what filters are to be used to not include them in hidden fields %>
  <% filter_names = %w[flt_name is_main_nav published is_commentable updated_at_period in_category has_tag] %>
  <%# preserve query string in hidden fields %>
  <% request.query_parameters.each do |k, v| %>
      <%= hidden_field_tag k, v unless filter_names.include?(k) %>
  <% end %>
  <div class="uk-grid uk-grid-small" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
      <%= list_ops_string(Page, :name, :flt_name, icon_title, placeholder: '...') %>
    </div>
    <div class="uk-width-medium-1-2">
      <%= list_ops_select(Page, :page_category, :in_category, icon_page_category, PageCategory.all.sort_by(&:name) # .select(&:has_any_pages?) # too many db hits
          .collect { |pc| [pc.name, pc.id] }
          .unshift(['...', nil], [t('root'), 0])
          ) %>
    </div>
    <div class="uk-width-medium-1-2">
      <%= list_ops_select(Page, :tags, :has_tag, icon_tag, Tag.all.sort_by(&:name) # .select(&:has_any_pages?) # too many db hits
          .collect { |t| [t.name, t.id] }
          .unshift(['...', nil])
          ) %>
    </div>
    <div class="uk-width-medium-1-1">
      <%= list_ops_datetime_range(Page, :updated_at, :updated_at_period, icon_updated_at,  :starting, :ending, t('from'), t('to')) %>
    </div>

    <div class="uk-width-small-1-2 uk-width-large-1-4">
      <%= list_ops_boolean(Page, :is_main_nav, :is_main_nav, icon_is_main_nav, t('yep'), t('nope'), t('wildcard')) %>
    </div>
    <div class="uk-width-small-1-2 uk-width-large-1-4">
      <%= list_ops_boolean(Page, :published, :published, icon_published, t('yep'), t('nope'), t('wildcard')) %>
    </div>
    <div class="uk-width-small-1-2 uk-width-large-1-4">
      <%= list_ops_boolean(Page, :is_commentable, :is_commentable, icon_is_commentable, t('yep'), t('nope'), t('wildcard')) %>
    </div>

    <div class="uk-width-small-1-1">
      <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-small-1-2">
          <%= list_ops_submit(icon_filter, with_fake_label: false) %>
        </div>
      </div>
    </div>

  </div>
</form>

<h3 class="admin-body-section-title"><%= t('results').humanize %></h3>

<!-- bulk update/destroy area -->
<div class="uk-grid uk-grid-small bulk-actions">
  <div class="uk-width">
    <div class="uk-button-dropdown uk-dropdown-close" data-uk-dropdown="{mode:'click'}">
      <button class="uk-button blue-button no-box-shadow" onclick="event.preventDefault();"><%= t('bulk_actions').humanize %></button>
      <div class="uk-dropdown uk-dropdown-small">
        <ul class="uk-nav uk-nav-dropdown">
          <li><a href="" data-reveal-area=".bulk-update-area" data-hide-area=".bulk-actions" class="font-weight-normal"><%= "#{icon_edit}&nbsp;&nbsp;#{t('edit')}".html_safe %></a></li>
          <li><a href="" data-reveal-area=".bulk-destroy-area" data-hide-area=".bulk-actions" class="font-weight-normal"><%= "#{icon_destroy}&nbsp;&nbsp;#{t('destroy')}".html_safe %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- bulk update form -->
<%= form_tag bulk_update_admin_pages_path(request.query_parameters), class: %w(uk-form uk-form-stacked), data: {'bulk-update-form' => '.resources-provider', 'bulk-form' => ''} do %>
<%#
examples:
    <input type="hidden" name="page[ids][]" value="174" />
    <input type="hidden" name="page[attrs][is_commentable]" value="1" />
%>
    <div class="uk-grid uk-grid-small custom-cc uk-hidden bulk-update-area" data-uk-grid-margin >
      <div class="uk-width-medium-1-1">
        <%= list_ops_select(Page, 'page_category', 'page[attrs][parent_id]', icon_page_category, PageCategory.all.sort_by(&:name)
            .collect { |p| [p.name, p.id] }
            .unshift(['...', nil], [t('root'), 0]), {class: 'uk-width'}) %>
      </div>
      <div class="uk-width-small-1-2 uk-width-large-1-4">
        <%= list_ops_boolean(Page, 'is_main_nav', 'page[attrs][is_main_nav]', icon_is_main_nav, t('yep'), t('nope'), t('bool_no_change')) %>
      </div>
      <div class="uk-width-small-1-2 uk-width-large-1-4">
        <%= list_ops_boolean(Page, 'published', 'page[attrs][published]', icon_published, t('yep'), t('nope'), t('bool_no_change')) %>
      </div>
      <div class="uk-width-small-1-2 uk-width-large-1-4">
        <%= list_ops_boolean(Page, 'is_commentable', 'page[attrs][is_commentable]', icon_is_commentable, t('yep'), t('nope'), t('bool_no_change')) %>
      </div>
      <div class="uk-width">
        <%# .bulk-update-area class exists for data-uk-grid-margin to receive 'display.uk.check' event, when area is revealed %>
        <div class="uk-grid uk-grid-small bulk-update-area" data-uk-grid-margin>
          <div class="uk-width-small-1-2">
            <div class="uk-form-controls">
              <button class="uk-button uk-width" data-hide-area=".bulk-update-area" data-reveal-area=".bulk-actions"><%= icon_cancel %></button>
            </div>
          </div>
          <div class="uk-width-small-1-2">
            <%= list_ops_submit(icon_save, with_fake_label: false) %>
          </div>
        </div>
      </div>
      <div class="uk-width"></div><%# adds some space thanks to data-uk-grid-margin%>
    </div>
<% end %>

<!-- bulk destroy form -->
<%= form_tag bulk_destroy_admin_pages_path(request.query_parameters), method: :delete, class: %w(uk-form uk-form-stacked), data: {'bulk-destroy-form' => '.resources-provider', 'bulk-form' => ''} do %>
    <div class="uk-grid uk-grid-small custom-cc custom-cc-fa uk-hidden bulk-destroy-area" data-uk-grid-margin >
      <div class="uk-width">
        <div class="uk-grid uk-grid-small bulk-destroy-area" data-uk-grid-margin>
          <div class="uk-width-small-1-2">
            <div class="uk-form-controls">
              <button class="uk-button uk-width" data-hide-area=".bulk-destroy-area" data-reveal-area=".bulk-actions"><%= icon_cancel %></button>
            </div>
          </div>
          <div class="uk-width-small-1-2">
            <%= list_ops_submit(icon_destroy, with_fake_label: false, data: { confirm: are_you_sure_message }) %>
          </div>
        </div>
      </div>
      <div class="uk-width"></div><%# adds some space thanks to data-uk-grid-margin%>
    </div>
<% end %>


<!-- results area -->
<div class="uk-overflow-horizontal">
  <table class="uk-table uk-table-striped-even uk-table-hover resources-provider"> <!-- uk-text-nowrap uk-table-condensed uk-table-hover -->
      <thead>
        <tr>
          <th>
            <input type="checkbox" data-select-all-checkboxes=".group-check" />
          </th>
          <th></th>
          <th><%= list_ops_sort_link :name, icon_title %></th>
          <th><%= list_ops_sort_link :is_main_nav, icon_is_main_nav %></th>
          <th><%= list_ops_sort_link :published, icon_published %></th>
          <th><%= list_ops_sort_link :is_commentable, icon_is_commentable %></th>
          <th><%= list_ops_sort_link :comments_count, icon_commenting %></th>
          <th><%= list_ops_sort_link :ordering, icon_ordering %></th>
          <th><%= list_ops_sort_link :parent_id, icon_page_category %></th>
          <th><%= list_ops_sort_link :updated_at, icon_updated_at %></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th><%= list_ops_sort_link :name, icon_title %></th>
          <th><%= list_ops_sort_link :is_main_nav, icon_is_main_nav %></th>
          <th><%= list_ops_sort_link :published, icon_published %></th>
          <th><%= list_ops_sort_link :is_commentable, icon_is_commentable %></th>
          <th><%= list_ops_sort_link :comments_count, icon_commenting %></th>
          <th><%= list_ops_sort_link :ordering, icon_ordering %></th>
          <th><%= list_ops_sort_link :parent_id, icon_page_category %></th>
          <th><%= list_ops_sort_link :updated_at, icon_updated_at %></th>
        </tr>
      </tfoot>

      <tbody>
      <% @resource_list.each do |resource| %>
        <tr>
          <td>
            <input type="checkbox" name="page[ids][]"  value="<%= resource.id %>" class="group-check" />
          </td>
          <td>
            <div class="uk-button-dropdown uk-dropdown-close" data-uk-dropdown="{mode:'click'}">
              <button class="uk-button no-background no-dimensions no-box-shadow" onclick="event.preventDefault();"><%= icon_actions %></button>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                  <li><%= link_to "#{icon_preview}&nbsp;&nbsp;#{preview_message}".html_safe, page_path(resource), target: '_blank', class: %w(secondary-link font-weight-normal) %></li>
                  <li><%= link_to "#{icon_edit}&nbsp;&nbsp;#{edit_message}".html_safe, edit_admin_page_path(resource), class: %w(secondary-link font-weight-normal) %></li>
                  <li><%= link_to "#{icon_destroy}&nbsp;&nbsp;#{destroy_message}".html_safe, admin_page_path(resource), method: :delete, data: { confirm: are_you_sure_message }, class: %w(secondary-link font-weight-normal) %></li>
                </ul>
              </div>
            </div>
          </td>
          <td><%= resource.name %></td>
          <td><i class="fa fa-thumbs-o-<%= resource.is_main_nav ? 'up success-color' : 'down danger-color' %>"></i></td>
          <td><i class="fa fa-thumbs-o-<%= resource.published ? 'up success-color' : 'down danger-color' %>"></i></td>
          <td><i class="fa fa-thumbs-o-<%= resource.is_commentable ? 'up success-color' : 'down danger-color' %>"></i></td>
          <td><%= link_to resource.comments_count, admin_comments_path(for_page: resource.id), target: '_blank' %></td>
          <td><%= resource.ordering %></td>
          <td><%= resource.page_category.try(:name) || t('root') %></td>
          <td><%= resource.updated_at.to_date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>

<%= paginate @resource_list %>

<hr class="uk-grid-divider cancel-panel-box-horizontal-padding" />

<%= admin_body_bottom_links(index_links) %>
