
<% title = resource_view_listing_message(resource: Comment, count: 2) %>

<% content_for :title do %>
    <%= title %>
<% end %>

<%= admin_body_title("#{icon_list}&nbsp;&nbsp;#{title} (#{@resource_list.total_count})") %>

<% index_links = [
    {message: icon_new, path: new_admin_comment_path, options: {}}
] %>

<%= admin_body_top_links(index_links) %>

<h3 class="admin-body-section-title uk-margin-top-remove"><%= t('filters').humanize %></h3>

<!-- filters area -->
<form class="uk-form uk-form-stacked custom-cc custom-cc-fa" action="<%= admin_comments_path %>" method="get" data-bulk-form>
  <%# declare what filters are to be used to not include them in hidden fields %>
  <% filter_names = %w[created_at_period] %>
  <%# preserve query string in hidden fields %>
  <% request.query_parameters.each do |k, v| %>
      <%= hidden_field_tag k, v unless filter_names.include?(k) %>
  <% end %>
  <div class="uk-grid uk-grid-small" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
      <%= list_ops_datetime_range(Comment, :created_at, :created_at_period, icon_created_at,  :starting, :ending, t('from'), t('to')) %>
    </div>
    <div class="uk-width-small-1-1">
      <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-small-1-2">
          <%= list_ops_submit(icon_filter, with_fake_label: false) %>
        </div>
      </div>
    </div>
  </div>
</form>

<h3 class="admin-body-section-title"><%= t('results').humanize %></h3>

<!-- bulk update/destroy area -->
<div class="uk-grid uk-grid-small bulk-actions">
  <div class="uk-width">
    <div class="uk-button-dropdown uk-dropdown-close" data-uk-dropdown="{mode:'click'}">
      <button class="uk-button blue-button no-box-shadow" onclick="event.preventDefault();"><%= t('bulk_actions').humanize %></button>
      <div class="uk-dropdown uk-dropdown-small">
        <ul class="uk-nav uk-nav-dropdown">
          <li><a href="" data-reveal-area=".bulk-update-area" data-hide-area=".bulk-actions" class="font-weight-normal"><%= "#{icon_edit}&nbsp;&nbsp;#{t('edit')}".html_safe %></a></li>
          <li><a href="" data-reveal-area=".bulk-destroy-area" data-hide-area=".bulk-actions" class="font-weight-normal"><%= "#{icon_destroy}&nbsp;&nbsp;#{t('destroy')}".html_safe %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- bulk update form -->
<%= form_tag bulk_update_admin_comments_path, class: %w(uk-form uk-form-stacked), data: {'bulk-update-form' => '.resources-provider', 'bulk-form' => ''} do %>
<%#
examples:
    <input type="hidden" name="page[ids][]" value="174" />
    <input type="hidden" name="page[attrs][is_commentable]" value="1" />
%>
    <div class="uk-grid uk-grid-small custom-cc custom-cc-fa uk-hidden bulk-update-area" data-uk-grid-margin >
      <div class="uk-width-medium-1-1">
        <%= list_ops_select(Comment, 'status', 'comment[attrs][status]', nil, Comment.statuses.to_a.unshift(['...', nil]), {class: 'uk-width'}) %>
      </div>
      <div class="uk-width">
        <%# .bulk-update-area class exists for data-uk-grid-margin to receive 'display.uk.check' event, when area is revealed %>
        <div class="uk-grid uk-grid-small bulk-update-area" data-uk-grid-margin>
          <div class="uk-width-small-1-2">
            <div class="uk-form-controls">
              <button class="uk-button uk-width" data-hide-area=".bulk-update-area" data-reveal-area=".bulk-actions"><%= icon_cancel %></button>
            </div>
          </div>
          <div class="uk-width-small-1-2">
            <%= list_ops_submit(icon_save, with_fake_label: false) %>
          </div>
        </div>
      </div>
      <div class="uk-width"></div><%# adds some space thanks to data-uk-grid-margin%>
    </div>
<% end %>

<!-- bulk destroy form -->
<%= form_tag bulk_destroy_admin_comments_path, method: :delete, class: %w(uk-form uk-form-stacked), data: {'bulk-destroy-form' => '.resources-provider', 'bulk-form' => ''} do %>
    <div class="uk-grid uk-grid-small custom-cc custom-cc-fa uk-hidden bulk-destroy-area" data-uk-grid-margin >
      <div class="uk-width">
        <div class="uk-grid uk-grid-small bulk-destroy-area" data-uk-grid-margin>
          <div class="uk-width-small-1-2">
            <div class="uk-form-controls">
              <button class="uk-button uk-width" data-hide-area=".bulk-destroy-area" data-reveal-area=".bulk-actions"><%= icon_cancel %></button>
            </div>
          </div>
          <div class="uk-width-small-1-2">
            <%= list_ops_submit(icon_destroy, with_fake_label: false, data: { confirm: are_you_sure_message }) %>
          </div>
        </div>
      </div>
      <div class="uk-width"></div><%# adds some space thanks to data-uk-grid-margin%>
    </div>
<% end %>


<!-- results area -->
<div class="uk-overflow-horizontal">
  <table class="uk-table uk-table-striped-even uk-table-hover resources-provider"> <!-- uk-text-nowrap uk-table-condensed uk-table-hover -->
      <thead>
        <tr>
          <th>
            <input type="checkbox" data-select-all-checkboxes=".group-check" />
          </th>
          <th></th>
          <th><%= list_ops_sort_link :status, t('activerecord.attributes.comment.status') %></th>
          <th><%= icon_excerpt %></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th><%= list_ops_sort_link :status, t('activerecord.attributes.comment.status') %></th>
          <th><%= icon_excerpt %></th>
        </tr>
      </tfoot>

      <tbody>
      <% @resource_list.each do |resource| %>
        <tr>
          <td>
            <input type="checkbox" name="comment[ids][]"  value="<%= resource.id %>" class="group-check" />
          </td>
          <td>
            <div class="uk-button-dropdown uk-dropdown-close" data-uk-dropdown="{mode:'click'}">
              <button class="uk-button no-background no-dimensions no-box-shadow" onclick="event.preventDefault();"><%= icon_actions %></button>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                  <li><%= link_to "#{icon_edit}&nbsp;&nbsp;#{edit_message}".html_safe, edit_admin_comment_path(resource), class: %w(secondary-link font-weight-normal) %></li>
                  <li><%= link_to "#{icon_destroy}&nbsp;&nbsp;#{destroy_message}".html_safe, admin_comment_path(resource), method: :delete, data: { confirm: are_you_sure_message }, class: %w(secondary-link font-weight-normal) %></li>
                </ul>
              </div>
            </div>
          </td>
          <% statuses = {'approved' => {icon: icon_approved, class: 'success-color'},
                        'rejected' => {icon: icon_rejected, class: 'danger-color'},
                        'to_be_moderated' => {icon: icon_to_be_moderated, class:''}
            } %>
          <td class="<%= statuses[resource.status][:class] %>"><%= statuses[resource.status][:icon] %></td>
          <td><%= resource.excerpt %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>

<%= paginate @resource_list %>

<hr class="uk-grid-divider cancel-panel-box-horizontal-padding" />

<%= admin_body_bottom_links(index_links) %>
