<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Untitled' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style><%= yield :css %></style>
    <script><%= yield :js %></script>
  </head>

  <body>
    <%= render 'admin_toggle' %>

    <%= render 'before_site_header' %>

    <%= render 'site_header' %>

    <%= render 'before_site_main_navigation' %>

    <%= render 'site_main_navigation' %>

    <%= render 'breadcrumbs' %>

    <%= render 'notice_alert' %>

    <%= render 'before_site_content' %>

    <%= render 'site_content' %>

    <%= render 'before_site_footer' %>

    <%= render 'site_footer' %>

  </body>

</html>
