<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Untitled' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style><%= yield :css %></style>
    <script><%= yield :js %></script>
  </head>

  <body>

    <div class="row">
      <div class="column show-for-medium" style="height: 200px; background-color: rgba(100,100,100,0.4);">
      </div>
    </div>

    <!-- top bar -->

    <!-- mobile bar -->
    <div class="title-bar clearfix"  data-responsive-toggle="small-main-menu" data-hide-for="large">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title"><%= menu_message %></div>
      <div class="small-6 column float-right">
        <% unless user_signed_in? %>
            <%= link_to sign_in_message, new_user_session_path, class: 'float-right' %>
        <% else %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'float-right',
                        data: { confirm: "#{current_user.name} #{are_you_sure_message}" } do %>
                <%= image_tag current_user.image, size: '24x24', alt: current_user.name, title: current_user.name %>
                <%= sign_out_message %>
            <% end %>
        <% end %>
      </div>
    </div>
    <!-- /mobile bar -->

    <!-- main menu (small|large)  -->
    <!-- small displays on small and medium and is non sticky -->
    <div id="small-main-menu" class="hide-for-large">
      <div class="row">
        <div class="column">
          <%= page_categories_menu_html_foundation_6(options: {
              wrapper_ul_class: 'vertical menu hide-for-large',
              wrapper_ul_data: 'data-accordion-menu data-options="multiOpen: false"',
              inner_ul_class: 'menu vertical nested',
              inner_ul_data: ''
          }).html_safe %>
        </div>
      </div>
    </div>
    <!-- /small displays on small and medium and is non sticky -->

    <!-- large displays on large and is sticky -->
    <div id="large-main-menu" class="show-for-large">
      <div class="row">
        <div class="large-9 columns">
          <%= page_categories_menu_html_foundation_6(options: {
              wrapper_ul_class: 'dropdown menu show-for-large',
              wrapper_ul_data: 'data-dropdown-menu data-options=""',
              inner_ul_class: 'menu',
              inner_ul_data: ''
          }).html_safe %>
        </div>
        <div class="large-3 columns">
          <ul class="menu align-right">
            <% if controller_name != 'sessions' %>
                <% unless user_signed_in? %>
                    <li><%= link_to sign_in_message, new_user_session_path %></li>
                <% else %>
                    <li><%= link_to sign_out_message, destroy_user_session_path, method: :delete,
                            data: { confirm: "#{current_user.name} #{are_you_sure_message}" } %></li>
                    <li><%= image_tag current_user.image, size: '38x38', alt: current_user.name, title: current_user.name %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <script>$("#large-main-menu").sticky({topSpacing:0});</script>
    <!-- /large displays on large and is sticky -->
    <!-- /main menu (small|large) -->
    <!-- /top bar -->

    <!-- notice/alert -->
    <div class="row">
      <div class="large-12 columns">
        <% if notice %><p><%= notice %></p><% end %>
        <% if alert %><p><%= alert %></p><% end %>
      </div>
    </div>
    <!-- /notice/alert -->

    <!-- main -->
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    <!-- main -->

  </body>

</html>
