<h1><%= resource_view_show_message resource_instance: @resource %></h1>
<p>
  <strong><%= Article.human_attribute_name(:title).humanize %>:</strong>
  <%= @resource.title %>
</p>

<%= link_to edit_message, edit_admin_article_path(@resource) %> |
<%= link_to back_message, admin_articles_path %>
