<% content_for :title do %>
    <%= @resource.name.titleize %>
<% end %>

<h1><%= @resource.name %></h1>

<% @resource.children.each do |item| %>
    <div>
      <% if item.is_a? Page %>
          <h3><%= item.name %></h3>
          <div><%= item.page_content.excerpt! %></div>
          <p><%= link_to I18n.t('read_more'), page_path(item) %></p>
      <% else %>
          <h3><%= link_to item.name, page_category_path(item) %></h3>
      <% end %>
    </div>
<% end %>





