<%= form_for([:admin, resource]) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= resource_view_form_general_error_message resource: Page, errors_num: resource.errors_num %>:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description, data: {'code-editor': '{"language":"text"}'} %>
  </div>
  <div class="field">
    <%= f.label :meta_css %>
    <%= f.text_area :meta_css, data: {'code-editor': '{"language":"css"}'} %>
  </div>
  <div class="field">
    <%= f.label :meta_js %>
    <%= f.text_area :meta_js, data: {'code-editor': '{"language":"javascript"}'} %>
  </div>
  <div class="field">
    <%= f.label :is_main_nav %>
    <%= f.check_box :is_main_nav %>
  </div>

  <span><%= f.object.class.human_attribute_name(:is_commentable) %></span>
  <div class="switch">
    <%= f.check_box :is_commentable, class: 'switch-input' %>
    <%= f.label :is_commentable, class: 'switch-paddle' do |e| %>
        <span class="show-for-sr"><%= e.object.class.human_attribute_name(:is_commentable) %></span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :root_page %>
    <%= f.check_box :root_page %>
  </div>
  <div class="field">
    <%= f.label :max_comments %>
    <%= f.text_field :max_comments %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>
    <%= f.select :parent_id, options_for_select(page_categories_all.collect {|p| [ p.name, p.id ] }.unshift(['root', 0]), :selected => resource.parent_id), {}, { :class => '' } %>
  </div>
  <div class="field">
    <%= f.label :ordering %>
    <%= f.text_field :ordering %>
  </div>
  <div class="field">
    <%= f.label :excerpt %>
    <%= f.text_area :excerpt, data: {'code-editor': '{"language":"html_ruby"}'} %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, data: {'code-editor': '{"language":"html_ruby"}'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
