<%= form_for([:admin, resource]) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= resource_view_form_general_error_message resource: Page, errors_num: resource.errors_num %>:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description %>
  </div>
  <div class="field">
    <%= f.label :excerpt %>
    <%= f.text_area :excerpt %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
