<% content_for :title do %>
    <%= resource_view_editing_message resource_instance: @resource %>
<% end %>

<h4><%= resource_view_editing_message resource_instance: @resource %></h4>

<%= render 'form', resource: @resource %>

<div>
  <ul class="uk-subnav uk-subnav-line uk-margin-top-remove uk-link-unmuted">
    <li><%= link_to show_message, admin_page_path(@resource) %></li>
    <li><%= link_to back_message, admin_pages_path %></li>
  </ul>
</div>

