
<% title = resource_view_listing_message(resource: Page, count: 2) %>

<% content_for :title do %>
    <%= title %>
<% end %>

<%= admin_body_title(title) %>

<% page_index_links = [
    {message: resource_view_new_message(resource: Page), path: new_admin_page_path}
] %>

<%= admin_body_top_links(page_index_links) %>

<!-- filters area -->
<form class="uk-form uk-form-stacked custom-cc custom-cc-fa" action="" method="get">
  <%# declare what filters are to be used to not include them in hidden fields %>
  <% filter_names = %w[flt_name is_main_nav published is_commentable updated_at_period in_category] %>
  <% request.query_parameters.each do |k, v| %>
      <%= hidden_field_tag k, v unless filter_names.include?(k) %>
  <% end %>
  <div class="uk-grid uk-grid-small" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
      <%= list_ops_filter_string(Page, :name, :flt_name) %>
    </div>
    <div class="uk-width-medium-1-2">
      <%= list_ops_filter_datetime_range(Page, :updated_at, :updated_at_period, :starting, :ending, t('from'), t('to')) %>
    </div>
    <div class="uk-width-medium-1-1">
      <%= list_ops_filter_select(Page, :page_category, :in_category, page_categories_all
          .select(&:has_any_pages?)
          .collect { |p| [p.name, p.id] }
          .unshift([t('wildcard'), nil], [t('root'), 0])
          ) %>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-3">
      <%= list_ops_filter_boolean(Page, :is_main_nav, :is_main_nav, t('yep'), t('nope'), t('wildcard')) %>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-3">
      <%= list_ops_filter_boolean(Page, :published, :published, t('yep'), t('nope'), t('wildcard')) %>
    </div>
    <div class="uk-width-small-1-2 uk-width-medium-1-3">
      <%= list_ops_filter_boolean(Page, :is_commentable, :is_commentable, t('yep'), t('nope'), t('wildcard')) %>
    </div>
    <div class="uk-width uk-margin-top">
      <div class="uk-form-row">
        <div class="uk-form-controls">
          <%= submit_tag t('filter_button').humanize, class: 'uk-button uk-width' %>
        </div>
      </div>
    </div>
  </div>
</form>

<hr class="uk-grid-divider cancel-panel-box-horizontal-padding" />

<%= form_tag bulk_update_admin_pages_path(request.query_parameters), class: %w(uk-form uk-form-stacked), data: {'bulk-update-form' => ''} do %>
    <!-- bulk update area -->
    <%#
    examples:
        <input type="hidden" name="page[ids][]" value="174" />
        <input type="hidden" name="page[attrs][max_comments]" value="46" />
    %>
    <div class="uk-grid uk-grid-small custom-cc custom-cc-fa" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <%= list_ops_filter_string(Page, 'max_comments', 'page[attrs][max_comments]') %>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <%= list_ops_filter_select(Page, 'parent_id', 'page[attrs][parent_id]', page_categories_all
              .collect { |p| [p.name, p.id] }
              .unshift(['', nil], [t('root'), 0]), {class: 'uk-width'}) %>
        </div>
      </div>
      <div class="uk-width-small-1-2 uk-width-medium-1-3">
        <%= list_ops_filter_boolean(Page, 'is_main_nav', 'page[attrs][is_main_nav]', t('yep'), t('nope'), t('wildcard')) %>
      </div>
      <div class="uk-width-small-1-2 uk-width-medium-1-3">
        <%= list_ops_filter_boolean(Page, 'published', 'page[attrs][published]', t('yep'), t('nope'), t('wildcard')) %>
      </div>
      <div class="uk-width-small-1-2 uk-width-medium-1-3">
        <%= list_ops_filter_boolean(Page, 'is_commentable', 'page[attrs][is_commentable]', t('yep'), t('nope'), t('wildcard')) %>
      </div>
      <div class="uk-width uk-margin-top">
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <input type="submit" name="submit" value="submit" class="uk-button uk-width" />
          </div>
        </div>
      </div>
    </div>

    <!-- results area -->
    <div class="uk-overflow-container">
      <table class="uk-table uk-table-striped uk-table-hover "> <!-- uk-text-nowrap uk-table-condensed -->
          <thead>
            <tr>
              <th><%= check_box_tag '', '', false, data: {'select-all-checkboxes' => '.group-check'} %></th>
              <th><%= list_ops_sort_link :name, Page.human_attribute_name(:name).humanize %></th>
              <th><%= list_ops_sort_link :is_main_nav, Page.human_attribute_name(:is_main_nav).humanize %></th>
              <th><%= list_ops_sort_link :published, Page.human_attribute_name(:published).humanize %></th>
              <th><%= list_ops_sort_link :is_commentable, Page.human_attribute_name(:is_commentable).humanize %></th>
              <th><%= list_ops_sort_link :ordering, Page.human_attribute_name(:ordering).humanize %></th>
              <th><%= list_ops_sort_link :parent_id, Page.human_attribute_name(:page_category).humanize %></th>
              <th><%= list_ops_sort_link :updated_at, Page.human_attribute_name(:updated_at).humanize %></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th><%= list_ops_sort_link :name, Page.human_attribute_name(:name).humanize %></th>
              <th><%= list_ops_sort_link :is_main_nav, Page.human_attribute_name(:is_main_nav).humanize %></th>
              <th><%= list_ops_sort_link :published, Page.human_attribute_name(:published).humanize %></th>
              <th><%= list_ops_sort_link :is_commentable, Page.human_attribute_name(:is_commentable).humanize %></th>
              <th><%= list_ops_sort_link :ordering, Page.human_attribute_name(:ordering).humanize %></th>
              <th><%= list_ops_sort_link :parent_id, Page.human_attribute_name(:page_category).humanize %></th>
              <th><%= list_ops_sort_link :updated_at, Page.human_attribute_name(:updated_at).humanize %></th>
            </tr>
          </tfoot>

          <tbody>
          <% @resource_list.each do |resource| %>
              <tr>
                <td><%= check_box_tag 'page[ids][]', resource.id, false, class: %w(group-check) %></td>
                <td>
                  <%= link_to resource.name, '#', data: {'uk-toggle' => "{target:'##{resource.id}'}"}, class: %w(secondary-link) %>
                  <ul id="<%= resource.id %>" class="uk-list uk-nav-sub uk-margin-bottom-remove uk-hidden">
                    <li><%= link_to preview_message, page_path(resource), target: '_blank', class: %w(secondary-link) %></li>
                    <li><%= link_to edit_message, edit_admin_page_path(resource), target: '_blank', class: %w(secondary-link) %></li>
                    <li><%= link_to destroy_message, admin_page_path(resource), method: :delete, data: { confirm: are_you_sure_message }, class: %w(secondary-link) %></li>
                  </ul>
                </td>
                <td><%= resource.is_main_nav %></td>
                <td><%= resource.published %></td>
                <td><%= resource.is_commentable %></td>
                <td><%= resource.ordering %></td>
                <td><%= resource.page_category.try(:name) || t('root') %></td>
                <td><%= resource.updated_at.to_date %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>
<% end %>


<%= admin_body_bottom_links(page_index_links) %>
