<% content_for :title do %>
    <%= resource_view_listing_message resource: Page, count: 2 %>
<% end %>

<h1><%= resource_view_listing_message resource: Page, count: 2 %></h1>

<div class="uk-overflow-container">
  <table class="uk-table uk-table-striped uk-table-hover uk-text-nowrap"> <!-- uk-table-condensed -->
    <thead>
    <tr>
      <th><%= Page.human_attribute_name(:name).humanize %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @resource_list.each do |resource| %>
        <tr>
          <td><%= resource.name %></td>
          <td><%= link_to show_message, admin_page_path(resource) %></td>
          <td><%= link_to edit_message, edit_admin_page_path(resource) %></td>
          <td><%= link_to destroy_message, admin_page_path(resource), method: :delete, data: { confirm: are_you_sure_message } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <ul class="uk-subnav uk-subnav-line uk-margin-top-remove uk-link-unmuted">
    <li><%= link_to resource_view_new_message(resource: Page), new_admin_page_path %></li>
  </ul>
</div>

