<h1><%= resource_view_show_message resource_instance: @resource %></h1>

<p>
  <strong><%= Page.human_attribute_name(:title).humanize %>:</strong>
  <%= @resource.title %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:meta_description).humanize %>:</strong>
  <%= @resource.meta_description %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:meta_css).humanize %>:</strong>
  <%= @resource.meta_css %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:meta_js).humanize %>:</strong>
  <%= @resource.meta_js %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:is_main_nav).humanize %>:</strong>
  <%= @resource.is_main_nav %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:is_commentable).humanize %>:</strong>
  <%= @resource.is_commentable %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:published).humanize %>:</strong>
  <%= @resource.published %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:max_comments).humanize %>:</strong>
  <%= @resource.max_comments %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:excerpt).humanize %>:</strong>
  <%= @resource.excerpt %>
</p>
<p>
  <strong><%= Page.human_attribute_name(:content).humanize %>:</strong>
  <%= evaluate(@resource.content) %>
</p>


<%= link_to edit_message, edit_admin_page_path(@resource) %> |
<%= link_to back_message, admin_pages_path %>
