<% content_for :css do %>
    <%= @resource.meta_css.try(:html_safe) %>
<% end %>

<% content_for :js do %>
    <%= @resource.meta_js.try(:html_safe) %>
<% end %>

<h1><%= resource_view_show_message resource_instance: @resource %></h1>

<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:id).humanize %>:</strong>
  <span><%= @resource.id %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:name).humanize %>:</strong>
  <span><%= @resource.name %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:meta_description).humanize %>:</strong>
  <div><%= @resource.meta_description %></div>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:meta_css).humanize %>:</strong>
  <pre data-code-editor='{"language": "css"}'><%= @resource.meta_css %></pre>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:meta_js).humanize %>:</strong>
  <pre data-code-editor='{"language": "javascript"}'><%= @resource.meta_js %></pre>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:is_main_nav).humanize %>:</strong>
  <%= @resource.is_main_nav %>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:is_commentable).humanize %>:</strong>
  <span><%= @resource.is_commentable %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:published).humanize %>:</strong>
  <span><%= @resource.published %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:root_page).humanize %>:</strong>
  <span><%= @resource.root_page %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:max_comments).humanize %>:</strong>
  <span><%= @resource.max_comments %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:parent_id).humanize %>:</strong>
  <span><%= @resource.page_category.try(:name) || 'root' %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:ordering).humanize %>:</strong>
  <span><%= @resource.ordering %></span>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:excerpt).humanize %>:</strong>
  <div><%= @resource.excerpt %></div>
</div>
<div class="show_page_details">
  <strong><%= Page.human_attribute_name(:content).humanize %>:</strong>
  <div><%= evaluate(@resource.content).html_safe %></div>
</div>

<div class="show_page_details">
  <%= link_to edit_message, edit_admin_page_path(@resource) %> |
  <%= link_to back_message, admin_pages_path %>
</div>