<% content_for :title do %>
    <%= resource_view_show_message resource_instance: @resource %>
<% end %>

<% content_for :css do %>
    <%= @resource.meta_css.try(:html_safe) %>
<% end %>

<% content_for :js do %>
    <%= @resource.meta_js.try(:html_safe) %>
<% end %>

<h4 class="uk-panel-title"><%= resource_view_show_message resource_instance: @resource %> <span>[id&lt;<%= @resource.id %>&gt;]</span></h4>

<div>
  <ul class="uk-subnav uk-subnav-line uk-link-unmuted">
    <li><%= link_to edit_message, edit_admin_page_path(@resource) %></li>
    <li><%= link_to back_message, admin_pages_path %></li>
  </ul>
</div>

<div>
  <ul class="uk-tab" data-uk-tab="{connect:'#code-editor-area'}">
    <li class="uk-active"><a href=""><%= Page.human_attribute_name(:meta_description) %></a></li>
    <li><a href=""><%= Page.human_attribute_name(:excerpt) %></a></li>
    <li><a href="" ><%= Page.human_attribute_name(:meta_css) %></a></li>
    <li><a href=""><%= Page.human_attribute_name(:meta_js) %></a></li>
  </ul>
  <ul id="code-editor-area" class="uk-switcher uk-margin-bottom code-editor-area">
    <li><pre data-code-editor='{"language":"text"}'><%= @resource.meta_description %></pre></li>
    <li><pre data-code-editor='{"language":"text"}'><%= @resource.excerpt.html_safe %></pre></li>
    <li><pre data-code-editor='{"language":"text"}'><%= @resource.meta_css %></pre></li>
    <li><pre data-code-editor='{"language":"text"}'><%= @resource.meta_js %></pre></li>
  </ul>
</div>

<!-- "uk-nbfc" for hiding uk-grid-divider out of content border on medium screen | https://github.com/uikit/uikit/issues/134 -->
<div class="uk-nbfc">
  <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid-margin>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <%= content_tag(:span, nil, class: @resource.is_main_nav ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-o-down') %>
      <span class="show-details-key"><%= Page.human_attribute_name(:is_main_nav).humanize %></span>
    </div>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <%= content_tag(:span, nil, class: @resource.is_commentable ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-o-down') %>
      <span class="show-details-key"><%= Page.human_attribute_name(:is_commentable).humanize %></span>
    </div>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <%= content_tag(:span, nil, class: @resource.published ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-o-down') %>
      <span class="show-details-key"><%= Page.human_attribute_name(:published).humanize %></span>
    </div>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <%= content_tag(:span, nil, class: @resource.root_page ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-o-down') %>
      <span class="show-details-key"><%= Page.human_attribute_name(:root_page).humanize %></span>
    </div>
  </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-nbfc">
  <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid-margin>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <span class="show-details-key"><%= Page.human_attribute_name(:parent_id).humanize %></span>:
      <i><%= @resource.page_category.try(:name) || I18n.t('root') %></i>
    </div>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <span class="show-details-key"><%= Page.human_attribute_name(:ordering).humanize %></span>:
      <i><%= @resource.ordering%></i>
    </div>
    <div class="uk-width-large-1-4 uk-width-1-2">
      <span class="show-details-key"><%= Page.human_attribute_name(:max_comments).humanize %></span>:
      <i><%= @resource.max_comments%></i>
    </div>
  </div>
</div>

<hr class="uk-grid-divider" />

<div>
  <div><%= evaluate(@resource.content).html_safe %></div>
</div>

<hr class="uk-grid-divider" />

<div>
  <ul class="uk-subnav uk-subnav-line uk-link-unmuted">
    <li><%= link_to edit_message, edit_admin_page_path(@resource) %></li>
    <li><%= link_to back_message, admin_pages_path %></li>
  </ul>
</div>