<% content_for :title do %>
    <%= @resource.name.titleize %>
<% end %>

<% content_for :css do %>
    <%= @resource.page_content.meta_css.try(:html_safe) %>
<% end %>

<% content_for :js do %>
    <%= @resource.page_content.meta_js.try(:html_safe) %>
<% end %>

<h1><%= @resource.name %></h1>

<p>
  <%= evaluate(@resource.page_content.content).html_safe %>
</p>


