<% content_for :title do %>
    <%= @resource.name %>
<% end %>

<% content_for :css do %>
    <%= @resource.meta_css.try(:html_safe) %>
<% end %>

<% content_for :js do %>
    <%= @resource.meta_js.try(:html_safe) %>
<% end %>

<h1><%= @resource.name %></h1>

<p>
  <%= evaluate(@resource.content).html_safe %>
</p>


