<div id="site_main_navigation">
  <!-- mobile bar -->
  <div class="ntk-mobile-bar">
    <div class="row">
      <div class="column">
        <div class="ntk-menu-toggle ntk-float-left">
          <button data-ntk-toggle="#small_site_main_navigation" type="button">
            <i class="fa fa-bars"></i>&nbsp;
            <span><%= menu_message %></span>
          </button>
        </div>
        <div class="ntk-user-session ntk-float-right">
          <% if controller_name != 'sessions' %>
              <% unless user_signed_in? %>
                  <%= link_to icon_login, new_user_session_path, class: 'float-right' %>
              <% else %>
                  <%= image_tag current_user.image, alt: current_user.name, title: current_user.name %>
                  <%= link_to destroy_user_session_path, method: :delete, class: '',
                              data: { confirm: "#{current_user.name} #{are_you_sure_message}" } do %>
                      &nbsp;&nbsp;
                      <%= icon_logout %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /mobile bar -->

  <!-- menu (small|large)  -->
  <!-- small - displays on small and medium and is non sticky -->
  <div id="small_site_main_navigation" class="ntk-hidden">
    <div class="row">
      <div class="column">
        <%= page_categories_menu_html(options: {
            wrapper_ul_class: 'ntk-accordion-menu',
            wrapper_ul_data: '',
            inner_ul_class: '',
            inner_ul_data: '',
            active_li: 'active',
            active_link: ''
        }).html_safe %>
      </div>
    </div>

  </div>
  <!-- /small -->

  <!-- large - displays on large and is sticky -->
  <div id="large_site_main_navigation">
    <div class="row">
      <div class="column">
        <div class="ntk-menu ntk-float-left">
          <%= page_categories_menu_html(options: {
              wrapper_ul_class: 'sf-menu',
              wrapper_ul_data: '',
              inner_ul_class: '',
              inner_ul_data: '',
              active_li: 'active',
              active_link: ''
          }).html_safe %>
        </div>
        <div class="ntk-user-session ntk-float-right">
          <% if controller_name != 'sessions' %>
              <% unless user_signed_in? %>
                  <%= link_to icon_login, new_user_session_path %>
              <% else %>
                  <%= image_tag current_user.image, alt: current_user.name, title: current_user.name %>
                  <%= link_to destroy_user_session_path, method: :delete, class: '',
                              data: { confirm: "#{current_user.name} #{are_you_sure_message}" } do %>
                      &nbsp;&nbsp;
                      <%= icon_logout %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
    // http://users.tpg.com.au/j_birch/plugins/superfish/options/
    $('#large_site_main_navigation').superfish({
      disableHI:     false,
      cssArrows:     true,
      delay: 100,
    });
    $("#large_site_main_navigation").sticky({topSpacing:0});
  </script>
  <!-- /large -->
  <!-- /menu (small|large) -->
</div>

<div class="v-space-10"></div>

