
<h4 class="uk-panel-title"><%= I18n.t('administration').camelize %></h4>

<ul class="uk-nav uk-nav-side">
  <li class="<%= 'uk-active' if controller.is_a?(Admin::SettingsController) %>">
    <a href="<%= admin_settings_path %>"><%= Setting.model_name.human(count: 2) %></a>
  </li>
  <li class="<%= 'uk-active' if controller.is_a?(Admin::LayoutRegionsController) %>">
    <a href="<%= admin_layout_regions_path %>"><%= LayoutRegion.model_name.human(count: 2) %></a>
  </li>
  <li class="<%= 'uk-active' if controller.is_a?(Admin::PagesController) %>">
    <a href="<%= admin_pages_path %>"><%= Page.model_name.human(count: 2) %></a>
  </li>
  <li class="<%= 'uk-active' if controller.is_a?(Admin::PageCategoriesController) %>">
    <a href="<%= admin_page_categories_path %>"><%= PageCategory.model_name.human(count: 2) %></a>
  </li>
  <li class="<%= 'uk-active' if controller.is_a?(Admin::TagsController) %>">
    <a href="<%= admin_tags_path %>"><%= Tag.model_name.human(count: 2) %></a>
  </li>
  <li class="<%= 'uk-active' if controller.is_a?(Admin::UsersController) %>">
    <a href="<%= admin_users_path %>"><%= User.model_name.human(count: 2) %></a>
  </li>
</ul>


