
<% title = resource_view_listing_message(resource: LayoutRegion, count: 2) %>

<% content_for :title do %>
    <%= title %>
<% end %>

<%= admin_body_title("#{icon_list}&nbsp;&nbsp;#{title} (#{@resource_list.count})") %>

<% index_links = [
    {message: icon_new, path: new_admin_layout_region_path, options: {}}
] %>

<%= admin_body_top_links(index_links) %>

<hr class="uk-grid-divider cancel-panel-box-horizontal-padding uk-margin-top-remove" />

<!-- results area -->
<div class="uk-overflow-horizontal">
  <table class="uk-table uk-table-striped-even uk-table-hover resources-provider"> <!-- uk-text-nowrap uk-table-condensed uk-table-hover -->
    <thead>
    <tr>
      <th></th>
      <th><%= list_ops_sort_link :name, icon_title %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th></th>
      <th><%= list_ops_sort_link :name, icon_title %></th>
    </tr>
    </tfoot>

    <tbody>
    <% @resource_list.each do |resource| %>
        <tr>
          <td>
            <div class="uk-button-dropdown uk-dropdown-close" data-uk-dropdown="{mode:'click'}">
              <button class="uk-button no-background no-dimensions" onclick="event.preventDefault();"><%= icon_actions %></button>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                  <li><%= link_to "#{icon_edit}&nbsp;&nbsp;#{edit_message}".html_safe, edit_admin_layout_region_path(resource), class: %w(secondary-link) %></li>
                  <% unless resource.default? %>
                      <li><%= link_to "#{icon_destroy}&nbsp;&nbsp;#{destroy_message}".html_safe, admin_layout_region_path(resource), method: :delete, data: { confirm: are_you_sure_message }, class: %w(secondary-link) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </td>
          <td><%= resource.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<hr class="uk-grid-divider cancel-panel-box-horizontal-padding" />

<%= admin_body_bottom_links(index_links) %>
