<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Untitled' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag    'site_front', media: 'all' %>
    <%= javascript_include_tag 'site_front' %>

    <style><%= setting_get 'global_css' %></style>
    <script><%= setting_get 'global_javascript' %></script>

    <style><%= yield :css %></style>
    <script><%= yield :js %></script>
  </head>

  <body>
    <%= render 'partials/admin_toggle' %>

    <%= render 'partials/brand_and_tag_line' %>

    <%= render 'partials/before_site_header' %>

    <%= render 'partials/site_header' %>

    <%= render 'partials/before_site_main_navigation' %>

    <%= render 'partials/site_main_navigation' %>

    <%= render 'partials/breadcrumbs' %>

    <%= render 'partials/notice_alert' %>

    <%= render 'partials/before_site_content' %>

    <%= render 'partials/site_content' %>

    <%= render 'partials/before_site_footer' %>

    <%= render 'partials/site_footer' %>

  </body>

</html>
