<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if controller_name != 'sessions' %>
      <% if !user_signed_in? %>
          <%= link_to 'Sign in with Google', user_omniauth_authorize_path(:google_oauth2) %>
      <% else %>
          <%= link_to 'Sign out', destroy_user_session_path %>
      <% end %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
